.skills_main_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4vw;
    gap: 3.2vw;
}

.skills_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: -1.8vw;
}

.skills_container_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: -1.8vw;
    margin-bottom: 7vw;
}

.skills_title_container {
    font-family: "Roboto";
    color: white;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
}

.skills_title_container > h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skills_title_container:hover {
    cursor: default;
}

.skills_title_period {
    color: #AEE728;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skill_square:hover {
    cursor: pointer;
}

.skill_square_shake:hover {
    cursor: pointer;
}
