.skills_main_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4vw;
    gap: 3.2vw;
}

.skills_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: -1.8vw;
}

.skills_container_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-top: -1.8vw;
    margin-bottom: 7vw;
}

.skills_title_container {
    font-family: "Roboto";
    color: white;
    font-size: 1.9vw;
    display: flex;
    justify-content: center;
}

.skills_title_period {
    color: #AEE728;
}

.skill_square {
    background-color: white;
    width: 10vw;
    height: 7vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.267) 0px -.3vw 0px inset;
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill_square_shake {
    background-color: white;
    width: 10vw;
    height: 7vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.267) 0px -.3vw 0px inset;
    border-radius: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: shake .8s;
}

.skill_square:hover {
    cursor: pointer;
}

.skill_square_shake:hover {
    cursor: pointer;
}

.modal_container {
    position: absolute;
    background-color: white;
    width: 38.2vw;
    height: 23.9vw;
    top: 15.7vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.267) 0px -.6vw 0px inset;
    border-radius: 1%;
    opacity: 0;
}

.hidden {
    opacity: 0;
    transition: opacity .3s linear;
  }

@keyframes shake {
    0%,
    20%,
    30%,
    40%,
    60%,
    90%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-.5vw);
    }

    60% {
        transform: translateX(.5vw);
    }

    70% {
        transform: translateX(-.5vw);
    }

    80% {
        transform: translateX(.5vw);
    }
}